/* Estilos generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #181d27;
    color: #333333;
    overflow-x: hidden;
}

.e {
    color: rgb(5, 172, 5);
}

/* Header: barra de navegación */
header {
    width: 100%;
    background-color: #181d27;
    box-shadow: 0 1px 2px rgb(5, 172, 5);
    position: sticky;
    top: 0;
    z-index: 999;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

nav {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.logo {
    font-weight: bold;
    font-size: 2rem;
    color: #FFF;
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 8px;
}

/* Enlaces de navegación con interacción al hover */
.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.nav-links li {
    cursor: pointer;
    font-weight: 500;
    position: relative;
    transition: color 0.3s ease;
    color: #fff;
    margin-left: 1rem;
}

.nav-links li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: rgb(5, 172, 5);
    transition: width 0.3s ease;
}

.nav-links li:hover {
    color: rgb(5, 172, 5);
}

.nav-links li:hover::after {
    width: 100%;
}

.btn-download-top {
    background-color: rgb(5, 172, 5);
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

.btn-download-top:hover {
    background-color: #dd1e1e;
}

/* Panel 1: Sección Hero */
.hero {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 4rem 1rem 6rem;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    opacity: 1;
    min-height: 100vh;
}

.hero h1 {
    font-size: 5rem;
    font-weight: 1000;
    color: #FFF;
    margin-bottom: 1rem;
    line-height: 1.2;
}

.hero p {
    font-size: 1.25rem;
    color: #FFF;
    margin-bottom: 2rem;
}

.btn-download-chrome {
    background-color: rgb(5, 172, 5);
    color: #fff;
    border: none;
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-download-chrome:hover {
    background-color: #dd1e1e;
}

.info-disclaimer {
    margin-top: 4rem;
    font-size: 0.9rem;
    color: #777;
}

.info-disclaimer a {
    color: #7d74f7;
    text-decoration: underline;
}

/* Contenedor para la imagen del móvil */
.mobile-container {
    position: relative;
    margin-top: 3rem;
    text-align: center;
    transform: none;
}

.mobile {
    max-width: 300px;
    width: 100%;
}

/* Panel 2: Contenido adicional */
.content {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 2rem;
    transition: opacity 0.5s ease-out;
    opacity: 0;
    min-height: 100vh;
}

/* Panel 2 tipo presentación */
.presentation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 3s ease, transform 3s ease;
    will-change: opacity, transform;
}

.presentation.visible {
    opacity: 1;
    transform: translateX(0);
}


.presentation-text {
    flex: 1;
    padding: 2rem;
    color: white;
}

.presentation-text h2 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

.presentation-text h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.presentation-text p {
    font-size: 1.1rem;
    line-height: 1.6;
    max-width: 600px;
}

.presentation-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.circle {
    background-color: #586b85;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle img {
    max-width: 80%;
    height: auto;
}

/* Colores destacados */
.highlight {
    color: #00ff88;
    font-size: 5rem;
    font-weight: 1000;
    margin-bottom: 1rem;
    line-height: 1.2;
}

.highlight-green-e {
    font-size: 5rem;
    font-weight: 1000;
    color: #00ff88;
    margin-bottom: 1rem;
    line-height: 1.2;

}

.highlight-green {
    font-size: 5rem;
    font-weight: 1000;
    color: #FFF;
    margin-bottom: 1rem;
    line-height: 1.2;

}

.highlight-red {
    color: red;
}

.presentation-h3 {
    color: #747474;
}

/**Panel sticky**/
.presentation-scroll {
    height: 500vh;
    position: relative;
    background-color: #181d27;
}

.presentation-sticky {
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.step {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.8s ease-out;
    text-align: center;
    max-width: 800px;
    margin: 1rem auto;
    color: white;
}

.step.visible {
    opacity: 1;
    transform: translateY(0);
}

.presentation-text h2,
.presentation-text h3 {
    margin-bottom: 1rem;
}

.presentation-p {
    font-size: 1.2rem;
    line-height: 1.6;
    max-width: 600px;
    margin: 0 auto;
}

.presentation-image .circle {
    background-color: #586b85;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
}

.presentation-image img {
    max-width: 80%;
}

/*
.scroll-up {
    opacity: 0;
    transform: translateY(60px);
    transition: transform 1s ease, opacity 1s ease;
}

.scroll-up.visible {
    opacity: 1;
    transform: translateY(0);
}
*/
.scroll-left,
.scroll-right {
    opacity: 1;
    transform: translateX(0);
    transition: transform 0.8s ease, opacity 0.8s ease;
}

.scroll-left.out {
    transform: translateX(-50px);
    opacity: 0;
}

.scroll-right.out {
    transform: translateX(50px);
    opacity: 0;
}

/** 3 Panel **/

.panel-logos {
    min-height: 100vh;
    background-color: #181d27;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 1rem;
    text-align: center;
}

.panel-logos .section-title {
    font-size: 3.5rem;
    font-weight: 1000;
    margin-bottom: 3rem;
    color: #ffffff;
    line-height: 1.2;
}

.logo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 3rem;
    max-width: 900px;
    width: 100%;
    justify-items: center;
}

.crypto-logo {
    width: 100px;
    opacity: 0;
    transform: translateY(100px);
    transition: all 1s ease-out;
}

.crypto-logo.visible {
    opacity: 1;
    transform: translateY(0);
}

.coming-soon {
    margin-top: 2rem;
    font-size: 1.2rem;
    color: #ccc;
    font-style: italic;
    letter-spacing: 0.5px;
}


/** Footer **/
.footer {
    background-color: #181d27;
    color: #ccc;
    padding: 4rem 2rem 2rem;
    font-size: 0.95rem;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    column-gap: 4rem;
    /* más espacio horizontal */
    row-gap: rem;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-column h4 {
    color: #888;
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: 1rem;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 0.6rem;
}

.footer-column ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-column ul li a:hover {
    color: #00ff88;
}

.footer-bottom {
    text-align: left;
    margin-top: 2rem;
    border-top: 1px solid #181d27;
    padding-top: 1.5rem;
    color: #999;
    font-size: 0.85rem;
}

.unstyled-link {
    all: unset;
    cursor: pointer;
}

@media screen and (max-width: 450px) {

    .hero h1,
    .highlight,
    .highlight-green-e,
    .highlight-green {
        font-size: 2.5rem;
    }

    .hero p,
    .btn-download-chrome,
    .presentation-text p,
    .presentation-p {
        font-size: 1rem;
        padding: 0 1rem;
    }

    .presentation {
        flex-direction: column;
        align-items: center;
    }

    .presentation-text,
    .presentation-image {
        padding: 1rem;
        text-align: center;
    }

    .presentation-image .circle {
        width: 250px;
        height: 250px;
    }

    .mobile-container {
        position: static;
        transform: none;
        margin-top: 2rem;
    }

    .mobile {
        display: block;
	margin: 0 auto;
    }

    .logo {
        font-size: 1.5rem;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
        gap: 0.5rem;
    }

    .btn-download-top {
        display: none;
    }
}

/* Estilos para el ícono de hamburguesa */
.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    background: #fff;
    margin: 5px 0;
    transition: 0.4s;
}

.cookie-popup {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #202533;
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    gap: 1rem;
    z-index: 9999;
    animation: slideUp 0.5s ease forwards;
}

.cookie-popup a {
    color: #00ff88;
    text-decoration: underline;
}

.btn-accept {
    background-color: rgb(5, 172, 5);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-accept:hover {
    background-color: #dd1e1e;
}

.hidden {
    display: none;
}

@keyframes slideUp {
    from {
        transform: translate(-50%, 100px);
        opacity: 0;
    }

    to {
        transform: translate(-50%, 0);
        opacity: 1;
    }
}

/* Estilos específicos para móviles */
@media screen and (max-width: 450px) {
    .cookie-popup {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 1.2rem;
        width: 90%;
        max-width: 300px;
        bottom: 20px;
        top: auto;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 12px;
    }

    .cookie-popup p {
        font-size: 1rem;
    }

    .cookie-popup .btn-accept {
        margin-top: 1rem;
        width: 100%;
        text-align: center;
    }

    /* Mostrar el ícono de hamburguesa */
    .hamburger {
        display: block;
    }

    /* Ocultar los enlaces por defecto y prepararlos para mostrarse en forma de menú */
    .nav-links {
        display: none;
        position: absolute;
        top: 60px;
        /* Ajusta según la altura del header */
        left: 0;
        background-color: #181d27;
        width: 100%;
        flex-direction: column;
        padding: 1rem 0;
        z-index: 998;
    }

    /* Al activar la clase 'active', se muestran los enlaces */
    .nav-links.active {
        display: flex;
    }

    /* Opcional: Ajusta la navegación para centrar o espaciar los elementos */
    nav {
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}
